<section id="cta">
  <div class="cta-section container">
    <h4 class="cta-title">The Cleanest CTA</h4>
    <h5 class="cta-subtitle">
      “Your screen is a mess. Fix it. Match it. Love it.”
    </h5>
    <a class="cta-link" href="#"> </a>
    <img
      src="./img/hero-grapes.png"
      srcset="./img/hero-grapes@2x.png 2x"
      alt="grapes"
      class="grapes"
    />
    <img
      src="./img/hero-raspberry.png"
      srcset="./img/hero-raspberry@2x.png 2x"
      alt="raspberry"
      class="raspberry"
    />
  </div>
</section>
