<section id="faq">
  <div class="faq-section container">
    <h4 class="faq-title">FAQ</h4>
    <ul class="faq-list">
      <li class="faq-item">
        <div class="accordion-wrap">
          <h4 class="faq">Is it really free?</h4>
          <button class="accordion-btn">
            <svg class="faq-arrow" width="20" height="20">
              <use href="./sprite.svg#arrow" />
            </svg>
          </button>
        </div>
        <p class="faq-content">
          Totally. Optional boosters and themes are available, but the core game
          never locks.
        </p>
      </li>
      <li class="faq-item">
        <div class="accordion-wrap">
          <h4 class="faq">Can I play offline?</h4>
          <button class="accordion-btn">
            <svg class="faq-arrow" width="20" height="20">
              <use href="./sprite.svg#arrow" />
            </svg>
          </button>
        </div>
        <p class="faq-content">
          Yes. It’s a perfect no-Wi-Fi travel companion.
        </p>
      </li>
      <li class="faq-item">
        <div class="accordion-wrap">
          <h4 class="faq">What happens if the bar fills up?</h4>
          <button class="accordion-btn">
            <svg class="faq-arrow" width="20" height="20">
              <use href="./sprite.svg#arrow" />
            </svg>
          </button>
        </div>
        <p class="faq-content">
          You can try again — or use a booster to clear space!
        </p>
      </li>
      <li class="faq-item">
        <div class="accordion-wrap">
          <h4 class="faq">Is this for kids or adults?</h4>
          <button class="accordion-btn">
            <svg class="faq-arrow" width="20" height="20">
              <use href="./sprite.svg#arrow" />
            </svg>
          </button>
        </div>
        <p class="faq-content">
          Both! It’s simple to play, but hard to master.
        </p>
      </li>
      <li class="faq-item">
        <div class="accordion-wrap">
          <h4 class="faq">Can I compete with friends?</h4>
          <button class="accordion-btn">
            <svg class="faq-arrow" width="20" height="20">
              <use href="./sprite.svg#arrow" />
            </svg>
          </button>
        </div>
        <p class="faq-content">
          Yes — leaderboards let you track who’s the true sorting master.
        </p>
      </li>
    </ul>
  </div>
</section>
