<div class="footer">
  <div class="footer-wrap container">
    <div class="content-wrap">
      <ul class="footer-list">
        <li class="list-item">
          <p class="footer-text">
            <a href="./privacy-policy.html">Privacy Policy</a>
          </p>
        </li>
        <li class="list-item">
          <p class="footer-text">
            <a href="./terms-and-conditions.html">Terms and Conditions</a>
          </p>
        </li>
        <li class="list-item">
          <p class="footer-text">
            <a href="./cookies-policy.html">Cookies Policy</a>
          </p>
        </li>
      </ul>
    </div>
    <p class="rights-text">All rights reserved tripleclickmatch.com | 2025</p>
  </div>
  <span style="display: none">Generated: 2025-04-28, Hash: t78fd7x</span>
</div>
