<section id="game-concept">
  <div class="gameDescrWrap container">
    <div class="gameDescrContent">
      <h4 class="gameDescrTitle">Game Concept</h4>
      <h5 class="gameDescrSubtitle">Find it. Tap it. Triple it.</h5>
      <p class="gameDescrText">
        You open a box. It’s full of objects — too many. But look closer… some
        match. Three pink donuts. Three sleeping cats. Three slices of
        watermelon.<br />
        Your goal is simple: find three of a kind before the bar fills up. It’s
        a race against clutter — and your own memory.
      </p>
    </div>
    <img
      src="./img/game-concept-img.png"
      srcset="./img/game-concept-img@2x.png 2x"
      alt="game concept image"
      class="gameConceptImg"
    />
    <picture>
      <source
        media="(min-width: 768px)"
        srcset="./img/game-concept-bg-desktop.png"
      />
      <img
        src="./img/game-concept-bg.png"
        alt="game concept bg"
        class="gameConceptBgUp"
      />
    </picture>
    <img
      src="./img/game-concept-bg-down.png"
      alt="game concept bg down"
      class="gameConceptBgDown"
    />
  </div>
</section>
