<header class="header-section container">
  <div class="header-wrap">
    <ul class="hiden-menu">
      <li class="menu-hiden-item">
        <a class="item-link active" href="./">Home</a>
      </li>
      <li class="menu-hiden-item">
        <a class="item-link" href="./#game-concept">Game Concept</a>
      </li>
      <li class="menu-hiden-item">
        <a class="item-link" href="./#matchable-things">Matchable Things</a>
      </li>
      <li class="menu-hiden-item">
        <a class="item-link" href="./#satisfaction">Satisfaction in Motion</a>
      </li>
      <li class="menu-hiden-item">
        <a class="item-link" href="./#key-features">Key Features</a>
      </li>
      <li class="menu-hiden-item">
        <a class="item-link" href="./#reviews">Real User Reactions</a>
      </li>
      <li class="menu-hiden-item">
        <a class="item-link" href="./#faq">FAQ</a>
      </li>
    </ul>
    <button class="header-menu-btn">
      <div class="header-menu-line"></div>
      <div class="header-menu-line"></div>
    </button>
  </div>
</header>

<div class="backdrop container">
  <div class="backdrop-wrap">
    <ul class="header-menu-list">
      <li class="menu-item">
        <a class="item-link-bd active" href="./">Home</a>
      </li>
      <li class="menu-item">
        <a class="item-link-bd" href="./#game-concept">Game Concept</a>
      </li>
      <li class="menu-item">
        <a class="item-link-bd" href="./#matchable-things">Matchable Things</a>
      </li>
      <li class="menu-item">
        <a class="item-link-bd" href="./#satisfaction"
          >Satisfaction in Motion</a
        >
      </li>
      <li class="menu-item">
        <a class="item-link-bd" href="./#key-features">Key Features</a>
      </li>
      <li class="menu-item">
        <a class="item-link-bd" href="./#reviews">Real User Reactions</a>
      </li>
      <li class="menu-item">
        <a class="item-link-bd" href="./#faq">FAQ</a>
      </li>
    </ul>
  </div>
</div>
