<section>
  <div class="heroWrap container">
    <div class="heroLogoBox">
      <img
        src="./img/hero-title.png"
        srcset="./img/hero-title@2x.png 2x"
        alt="hero title"
        class="heroTitle"
      />
      <h4 class="heroSubtitle">“Everything in its place. Match by match.”</h4>
      <p class="heroDescription">
        Enter a world of colorful chaos turned into harmony. Match Triple Find
        turns piles of random 3D objects into elegant triplets — one satisfying
        tap at a time.
      </p>
      <a class="heroLink" href="#"> </a>
    </div>
    <div class="heroPhoneBox">
      <img
        src="./img/hero-phone.png"
        srcset="./img/hero-phone@2x.png 2x"
        alt="hero phone"
        class="heroPhone"
      />
      <img
        src="./img/hero-apple.png"
        srcset="./img/hero-apple@2x.png 2x"
        alt="hero apple"
        class="heroApple"
      />
      <img
        src="./img/hero-ball.png"
        srcset="./img/hero-ball@2x.png 2x"
        alt="hero apple"
        class="heroBall"
      />
      <img
        src="./img/hero-raspberry.png"
        srcset="./img/hero-raspberry@2x.png 2x"
        alt="hero apple"
        class="heroRaspberry"
      />
      <img
        src="./img/hero-grapes.png"
        srcset="./img/hero-grapes@2x.png 2x"
        alt="hero apple"
        class="heroGrapes"
      />
    </div>
  </div>
</section>
