<section id="key-features">
  <div class="keyFeaturesWrap container">
    <h4 class="keyFeaturesTitle">Key Features</h4>
  </div>
  <div class="swiper keyFeatures">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="./img/key-features/medal.png"
          srcset="./img/key-features/medal@2x.png 2x"
          alt="key-features items"
          class="keyFeaturesListItemImg"
        />
        <p><b>9999+ Levels</b><br />Endless variety keeps it fresh</p>
      </div>
      <div class="swiper-slide">
        <img
          src="./img/key-features/dice.png"
          srcset="./img/key-features/dice@2x.png 2x"
          alt="key-features items"
          class="keyFeaturesListItemImg"
        />
        <p><b>Offline Play</b><br />Match on flights, trains, anywhere</p>
      </div>
      <div class="swiper-slide">
        <img
          src="./img/key-features/star.png"
          srcset="./img/key-features/star@2x.png 2x"
          alt="key-features items"
          class="keyFeaturesListItemImg"
        />
        <p><b>Mini-Challenges</b><br />Special boxes with rare objects</p>
      </div>
      <div class="swiper-slide">
        <img
          src="./img/key-features/scroll.png"
          srcset="./img/key-features/scroll@2x.png 2x"
          alt="key-features items"
          class="keyFeaturesListItemImg"
        />
        <p><b>Leaderboards</b><br />Compete, compare, collect trophies</p>
      </div>
      <div class="swiper-slide">
        <img
          src="./img/key-features/hourglass.png"
          srcset="./img/key-features/hourglass@2x.png 2x"
          alt="key-features items"
          class="keyFeaturesListItemImg"
        />
        <p><b>Speed Rounds</b><br />Timed puzzles for adrenaline fans</p>
      </div>
      <div class="swiper-slide">
        <img
          src="./img/key-features/crown.png"
          srcset="./img/key-features/crown@2x.png 2x"
          alt="key-features items"
          class="keyFeaturesListItemImg"
        />
        <p><b>Visual Relief</b><br />Designed to calm and sharpen the mind</p>
      </div>
      <div class="swiper-slide">
        <img
          src="./img/key-features/present.png"
          srcset="./img/key-features/present@2x.png 2x"
          alt="key-features items"
          class="keyFeaturesListItemImg"
        />
        <p><b>Boosters</b><br />Magnet pull, undo, freeze timer</p>
      </div>
    </div>
    <div class="keyFeaturesNav">
      <div class="swiper-key-features-nav">
        <div class="swiper-key-features-button-prev"></div>
        <div class="swiper-key-features-button-next"></div>
      </div>
    </div>
  </div>
  <img
    src="./img/key-features/bg-object.png"
    alt="bg object"
    class="keyFeaturesBgObject"
  />
</section>
