<article id="reviews">
  <div class="reviewsWrap container">
    <h4 class="reviewsTitle">Real User Reactions</h4>
    <div class="reviewsUsersWrap">
      <div class="reviewBox">
        <div class="reviewContainer">
          <img
            src="./img/reviews/user-1.png"
            alt="reviews user avatar"
            class="reviewsUserAvatar"
          />
          <p class="reviewsUserName">CalmSeeker88</p>
          <p class="reviewsUserText">
            “This game is therapy. I open it when I feel stressed.”
          </p>
        </div>
      </div>
      <div class="reviewBox">
        <div class="reviewContainer">
          <img
            src="./img/reviews/user-2.png"
            alt="reviews user avatar"
            class="reviewsUserAvatar"
          />
          <p class="reviewsUserName">PuzzleLoverAnna</p>
          <p class="reviewsUserText">
            “I didn’t think matching shoes and pineapples would be this fun.”
          </p>
        </div>
      </div>
      <div class="reviewBox">
        <div class="reviewContainer">
          <img
            src="./img/reviews/user-3.png"
            alt="reviews user avatar"
            class="reviewsUserAvatar"
          />
          <p class="reviewsUserName">CozyBrain</p>
          <p class="reviewsUserText">
            “Satisfying in a way I can’t explain. Better than ASMR.”
          </p>
        </div>
      </div>
      <div class="reviewBox">
        <div class="reviewContainer">
          <img
            src="./img/reviews/user-4.png"
            alt="reviews user avatar"
            class="reviewsUserAvatar"
          />
          <p class="reviewsUserName">NanaTaps</p>
          <p class="reviewsUserText">
            “I’m 65 and my granddaughter and I play together. She beats me!”
          </p>
        </div>
      </div>
    </div>
    <div class="reviewsBgWrap">
      <img
        src="./img/reviews/bg-object-1.png"
        alt="reviews bg object"
        class="reviewsBgObject1"
      />
      <img
        src="./img/reviews/bg-object-2.png"
        alt="reviews bg object"
        class="reviewsBgObject2"
      />
      <img
        src="./img/reviews/bg-object-3.png"
        alt="reviews bg object"
        class="reviewsBgObject3"
      />
      <img
        src="./img/reviews/bg-object-4.png"
        alt="reviews bg object"
        class="reviewsBgObject4"
      />
      <img
        src="./img/reviews/bg-object-5.png"
        alt="reviews bg object"
        class="reviewsBgObject5"
      />
    </div>
  </div>
</article>
