<section id="satisfaction">
  <div class="satisfactionWrap container">
    <h4 class="satisfactionTitle">Satisfaction in Motion</h4>
    <h5 class="satisfactionSubtitle">
      There’s something so good about making it disappear.
    </h5>
    <div class="satisfactionTextWrap">
      <p>
        With every triple you match, your mind breathes a little. It’s visual
        meditation disguised as a game. Tap to find, swipe to clean, and watch
        clutter turn into calm.
      </p>
      <img
        src="./img/satisfaction-items.png"
        srcset="./img/satisfaction-items@2x.png 2x"
        alt="satisfaction items"
        class="satisfactionItemsImg"
      />
    </div>
    <div class="satisfactionBgWrap">
      <img
        src="./img/satisfaction-bg-line.png"
        alt="satisfaction bg line"
        class="satisfactionBgLine"
      />
      <img
        src="./img/satisfaction-bg-objects.png"
        alt="satisfaction bg objects"
        class="satisfactionBgObjects"
      />
    </div>
  </div>
</section>
