.cookies-policy-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 156px;

  @include media(desktop) {
    padding-top: 159px;
  }
}

.cookiesMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  color: #27282b;
}

.cookies-policy-title {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #27282b;
  margin-bottom: 40px;
  text-align: center;

  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 60px;
  }
}
