.cookiesWrap {
  width: 335px;
  position: fixed;
  left: 50%;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #ffffff;
  border-radius: 20px;
  z-index: 9999;

  @include media(desktop) {
    width: 1400px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

.cookiesContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    flex-direction: row;
  }
}

.cookiesMsg {
  width: 271px;
  font-family: 'Almarai', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6f6c90;
  margin: 11px 0 32px;

  @include media(desktop) {
    width: 689px;
    font-size: 18px;
    text-align: left;
    margin: 0 0 0 25px;
  }
}

.cookiesControl {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
  }
}

.cookiesControl button {
  width: 198px;
  height: 60px;
  border-radius: 56px;
  background-color: #0142a3;
  border: none;
  font-family: 'Almarai', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  box-shadow: 0 3px 12px #4a3aff2e;
  transition: 0.3s ease-in-out;

  @include media(desktop) {
    width: 192px;
    height: 54px;
  }
}

.cookiesAccept {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookiesControl button:last-child {
  font-weight: 400;
  background: none;
  border: 1px solid #0142a3;
  color: #170f49;
  box-shadow: 0 4px 8px #4a3aff14;
}

.cookiesControl button:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

.cookiesClose {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background: none;
  padding: 0;
  transition: 0.3s ease-in-out;
}

.cookiesClose:hover {
  cursor: pointer;
  transform: scale(1.1);
}
