.footer {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  background-color: #071b38;

  @include media(desktop) {
    position: relative;
    max-width: 1440px;
  }
}
.footer-wrap {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

  @include media(desktop) {
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 177px;
    padding: 0;
  }
}
.content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list {
  display: flex;
}

.footer-text {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;

  @include media(desktop) {
    font-size: 16px;
  }
}

.footer-text::after {
  content: '';
  display: block;
  width: 1px;
  height: 14px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #ffffff;

  @include media(desktop) {
    height: 16px;
  }
}

.list-item:last-child .footer-text::after {
  display: none;
}

.rights-text {
  font-weight: 300;
  font-size: 10px;
  line-height: 16px;
  margin-top: 28px;

  @include media(desktop) {
    margin-top: 0;
  }
}
