.header-section {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 96px;
  display: flex;
  align-items: center;
  background-color: $main-color;

  @include media(desktop) {
    height: 79px;
  }
}

.header-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #80d6ff;
  border-radius: 24px;
  padding: 20px;

  @include media(desktop) {
    justify-content: center;
    background: none;
  }
}
.hiden-menu {
  display: none;

  @include media(desktop) {
    display: flex;
  }
}

.backdrop {
  display: none;
}

.backdrop.show {
  display: flex;
  position: fixed;
  top: 96px;
  right: 0;
  left: 0;
  z-index: 9999;
  padding: 20px 40px;
  background-color: #3b609b;
}

.backdrop.show .header-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.backdrop.show .header-menu-list .menu-item .item-link-bd,
.item-link {
  display: inline-block;
  border-radius: 24px;
  padding: 9px 24px;
  color: #161616;
  font-size: 16px;
  background-color: #80d6ff;
  border: 2px solid #80d6ff;

  @include media(desktop) {
    display: flex;
    align-items: center;
    height: 39px;
    padding: 0 26px;
  }
}

.backdrop.show .header-menu-list .menu-item .item-link-bd.active,
.item-link.active {
  font-weight: 700;
  border: 2px solid #fbb903;
}

.header-menu-btn {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0;
  background: none;
  border: none;

  @include media(desktop) {
    display: none;
  }
}

.header-menu-line {
  width: 100%;
  height: 2px;
  background-color: #161616;
  transition: 0.3s ease;
}

.header-menu-btn.close .header-menu-line:first-child {
  transform: rotate(45deg) translate(4px, 4px);
}
.header-menu-btn.close .header-menu-line:last-child {
  transform: rotate(-45deg) translate(3px, -3px);
}
