.privacy-policy-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 156px;

  @include media(desktop) {
    padding-top: 159px;
  }
}

.privacy-title {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #27282b;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 60px;
  }
}

.header-text {
  font-family: 'Krub', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: justify;
  color: #27282b;

  @include media(desktop) {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.policy-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Krub', sans-serif;
  margin-bottom: 40px;
  color: #27282b;
}

.regular-text {
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #27282b;
  text-align: justify;
}

.bold-text {
  font-family: 'Krub', sans-serif;
}

.list-info {
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  text-align: justify;
  color: #27282b;
  list-style-type: disc;
  font-size: 20px;
  margin-left: 26px;
}

.space {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 20px;
  }
}

.double-space {
  margin-top: 20px;

  @include media(desktop) {
    margin-top: 40px;
  }
}
