@import './header.scss';
@import './hero.scss';
@import './key-features.scss';
@import './game-concept.scss';
@import './matchable-things.scss';
@import './satisfaction.scss';
@import './faq.scss';
@import './cta.scss';
@import './reviews.scss';
@import './footer.scss';
@import './cookies-policy.scss';
@import './cookies-policy-modal.scss';
@import './terms-and-conditions.scss';
@import './privacy-policy.scss';

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --font-family: 'Krub', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  color: #ffffff;
  background: #1d3f72;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 70px;
}
