.tc-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 156px;

  @include media(desktop) {
    padding-top: 159px;
  }
}

.terms-title {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #27282b;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 60px;
  }
}

.text-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  color: #27282b;

  @include media(desktop) {
    gap: 40px;
  }
}

.regular-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #27282b;
  text-align: justify;
}

.bold-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: justify;
}

.link-list-tc {
  color: #27282b;
  list-style-type: disc;
  font-weight: 400;
  font-size: 20px;
  margin-left: 26px;
  text-decoration: underline;
  line-height: 28px;
}

.link-list-tc li:hover {
  text-decoration: none;
}

.nowrap {
  white-space: nowrap;
}

.underline {
  text-decoration: underline;
}
